services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: app
    volumes:
      - .:/home/devuser/app
    environment:
      - DATABASE_URL=${DATABASE_URL}
    ports:
      - "8000:8000"
    deploy:
      resources:
        limits:
          memory: 2G
        reservations:
          memory: 512M
    command:
     [ "/bin/sh", "-c", "uvicorn api.main:app --host 0.0.0.0 --port 8000 --reload"]

volumes:
  postgres_data:
