services:
  db:
    image: postgres:15.15
    container_name: db
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=cubehabits
    ports:
      - "5434:5432"

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    environment:
      - PGADMIN_DEFAULT_EMAIL=admin@example.com
      - PGADMIN_DEFAULT_PASSWORD=admin
    ports:
      - "5050:80"
    depends_on:
      - db

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: app
    volumes:
      - .:/home/devuser/app
    depends_on:
      - db
    environment:
      - DATABASE_URL=postgresql+asyncpg://user:password@db/cubehabits
    ports:
      - "8000:8000"
    #command:
    # [
    #  "/bin/sh",
    # "-c",
    #"alembic upgrade head && uvicorn api.main:app --host 0.0.0.0 --port 8000 --reload",
    #]

volumes:
  postgres_data:
